.app {
  overflow: hidden;
  text-align: center;
}

.appContent {
  max-width: 400px;
  margin: 0 auto;
}

.contentDiv {
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
}

.modeButtons {
  z-index: 1000;
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}

.frames {
  position: fixed;
  bottom: 75px;
  left: 0;

  width: 100%;
}

.warning {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.74);

  padding: 0 2rem;
}

.warningDiv {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
}

.toggles {
  position: fixed;
  top: 0;
  width: 350px;
  display: flex;
  justify-content: center;
}

.toggleButton {
  border: none;
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.918);

  padding: 10px;
  border-right: 1px solid grey;
}

.toggleButtonRight {
  composes: toggleButton;
  border-right: none;
}

.toggleButton:hover {
  background-color: #baffff;
}

.btnContainer {
  border-radius: 8px;

  box-shadow: 0 0 15px #3a3a3a36;
  width: 95%;
}

@media (min-width: 600px) {
  .btnContainer {
    width: 350px;
  }

  .toggles {
    width: 350px;
  }
}

.btn {
  width: calc(1 / 3 * 100%);
  border: none;
  height: 50px;

  font-size: 10px;
}

.btn:hover {
  background-color: #baffff;
}

.btnLeft {
  composes: btn;
  border-radius: 8px 0 0 8px;
}

.btnRight {
  composes: btn;
  border-radius: 0 8px 8px 0;
}
